
body {
  background-color: #1c1c1c;
  color: #f5f5f5;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #222;
  padding: 20px;
  text-align: center;
}
nav a {
  color: #00c3ff;
  margin: 0 15px;
  text-decoration: none;
}
section {
  padding: 30px;
}
.cover {
  max-width: 300px;
  display: block;
  margin: 0 auto 20px;
  border-radius: 10px;
}
.character {
  background-color: #333;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.character img {
  width: 100px;
  margin-left: 20px;
  border-radius: 8px;
}
footer {
  background-color: #111;
  padding: 15px;
  text-align: center;
  font-size: 0.9em;
  color: #aaa;
}
